@(ideaForm: Form[Idea], ideas: java.util.List[Idea]) 

@main("Ideas","ideas") {      

   <div class="well">
      @helper.form(routes.Ideas.add(), 'role -> "form", 'class -> "form-inline") {
          <input type="text" class="form-control" id="text" name="text" placeholder="Idea goes here..." 
               value="@ideaForm("text").value">
      }
   </div>
   
   @ideas.map { idea =>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">@idea.id <em>by @idea.creator.username</em>
            <span class="pull-right">Status: @idea.status</span>
          </h3>          
        </div>
        <div class="panel-body">
          @idea.text
        </div>
      </div>
   }
}
